<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tmp_55152d9f.jpg</string>
		<key>name</key>
		<string>赏金猎人</string>
		<key>uid</key>
		<string>tmp_55152d9f</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_55152cb7.jpg</string>
		<key>name</key>
		<string>仙女龙</string>
		<key>uid</key>
		<string>tmp_55152cb7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_55153027.jpg</string>
		<key>name</key>
		<string>吸血鬼</string>
		<key>uid</key>
		<string>tmp_55153027</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54f133b8.jpg</string>
		<key>name</key>
		<string>军团指挥</string>
		<key>uid</key>
		<string>tmp_54f133b8</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54cc76d5.jpg</string>
		<key>name</key>
		<string>炸弹人</string>
		<key>uid</key>
		<string>tmp_54cc76d5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54cc730c.jpg</string>
		<key>name</key>
		<string>龙骑士</string>
		<key>uid</key>
		<string>tmp_54cc730c</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_55079806.jpg</string>
		<key>name</key>
		<string>流浪剑客</string>
		<key>uid</key>
		<string>tmp_55079806</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54a3eff7.jpg</string>
		<key>name</key>
		<string>末日使者</string>
		<key>uid</key>
		<string>tmp_54a3eff7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54a39ea9.jpg</string>
		<key>name</key>
		<string>机甲浣熊</string>
		<key>uid</key>
		<string>tmp_54a39ea9</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54a39cc6.jpg</string>
		<key>name</key>
		<string>冰魂</string>
		<key>uid</key>
		<string>tmp_54a39cc6</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54829a22.jpg</string>
		<key>name</key>
		<string>幻影刺客</string>
		<key>uid</key>
		<string>tmp_54829a22</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_5477e626.jpg</string>
		<key>name</key>
		<string>树精卫士</string>
		<key>uid</key>
		<string>tmp_5477e626</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_548008b7.jpg</string>
		<key>name</key>
		<string>风暴之灵</string>
		<key>uid</key>
		<string>tmp_548008b7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_545317cb.jpg</string>
		<key>name</key>
		<string>灰烬之灵</string>
		<key>uid</key>
		<string>tmp_545317cb</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54525051.jpg</string>
		<key>name</key>
		<string>老鹿</string>
		<key>uid</key>
		<string>tmp_54525051</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54239410.jpg</string>
		<key>name</key>
		<string>白牛</string>
		<key>uid</key>
		<string>tmp_54239410</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_54239298.jpg</string>
		<key>name</key>
		<string>巫医</string>
		<key>uid</key>
		<string>tmp_54239298</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53edaed7.jpg</string>
		<key>name</key>
		<string>猴子</string>
		<key>uid</key>
		<string>tmp_53edaed7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53f2f3a5.jpg</string>
		<key>name</key>
		<string>召唤师</string>
		<key>uid</key>
		<string>tmp_53f2f3a5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53d71af1.jpg</string>
		<key>name</key>
		<string>凤凰</string>
		<key>uid</key>
		<string>tmp_53d71af1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53aaaf6a.jpg</string>
		<key>name</key>
		<string>人马</string>
		<key>uid</key>
		<string>tmp_53aaaf6a</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53a7c9ac.jpg</string>
		<key>name</key>
		<string>圣堂刺客</string>
		<key>uid</key>
		<string>tmp_53a7c9ac</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53a16f4e.jpg</string>
		<key>name</key>
		<string>刚背猪</string>
		<key>uid</key>
		<string>tmp_53a16f4e</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae759d.jpg</string>
		<key>name</key>
		<string>机枪兵</string>
		<key>uid</key>
		<string>tmp_53ae759d</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae75b3.jpg</string>
		<key>name</key>
		<string>巨魔</string>
		<key>uid</key>
		<string>tmp_53ae75b3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539feae5.jpg</string>
		<key>name</key>
		<string>术士</string>
		<key>uid</key>
		<string>tmp_539feae5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae8184.jpg</string>
		<key>name</key>
		<string>灵魂守卫</string>
		<key>uid</key>
		<string>tmp_53ae8184</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539a9761.jpg</string>
		<key>name</key>
		<string>敌法</string>
		<key>uid</key>
		<string>tmp_539a9761</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_541d45dd.jpg</string>
		<key>name</key>
		<string>死亡先知</string>
		<key>uid</key>
		<string>tmp_541d45dd</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539a998e.jpg</string>
		<key>name</key>
		<string>熊喵酒仙</string>
		<key>uid</key>
		<string>tmp_539a998e</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539a9e4a.jpg</string>
		<key>name</key>
		<string>亚龙</string>
		<key>uid</key>
		<string>tmp_539a9e4a</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae76c4.jpg</string>
		<key>name</key>
		<string>直升机</string>
		<key>uid</key>
		<string>tmp_53ae76c4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>40.jpg</string>
		<key>name</key>
		<string>白虎</string>
		<key>uid</key>
		<string>40</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_541d45f9.jpg</string>
		<key>name</key>
		<string>复仇</string>
		<key>uid</key>
		<string>tmp_541d45f9</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7740.jpg</string>
		<key>name</key>
		<string>骨弓</string>
		<key>uid</key>
		<string>tmp_53ae7740</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae73c3.jpg</string>
		<key>name</key>
		<string>风行</string>
		<key>uid</key>
		<string>tmp_53ae73c3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>36.jpg</string>
		<key>name</key>
		<string>火枪</string>
		<key>uid</key>
		<string>36</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae73f7.jpg</string>
		<key>name</key>
		<string>光法</string>
		<key>uid</key>
		<string>tmp_53ae73f7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7666.jpg</string>
		<key>name</key>
		<string>小黑</string>
		<key>uid</key>
		<string>tmp_53ae7666</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7676.jpg</string>
		<key>name</key>
		<string>小鹿</string>
		<key>uid</key>
		<string>tmp_53ae7676</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539a98aa.jpg</string>
		<key>name</key>
		<string>双头龙</string>
		<key>uid</key>
		<string>tmp_539a98aa</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_539a9925.jpg</string>
		<key>name</key>
		<string>神灵武士</string>
		<key>uid</key>
		<string>tmp_539a9925</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>30.jpg</string>
		<key>name</key>
		<string>月骑</string>
		<key>uid</key>
		<string>30</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae73ac.jpg</string>
		<key>name</key>
		<string>沉默</string>
		<key>uid</key>
		<string>tmp_53ae73ac</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53a7cfd5.jpg</string>
		<key>name</key>
		<string>影魔</string>
		<key>uid</key>
		<string>tmp_53a7cfd5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>27.jpg</string>
		<key>name</key>
		<string>恶魔巫师</string>
		<key>uid</key>
		<string>27</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae75d4.jpg</string>
		<key>name</key>
		<string>美杜莎</string>
		<key>uid</key>
		<string>tmp_53ae75d4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7439.jpg</string>
		<key>name</key>
		<string>黑鸟</string>
		<key>uid</key>
		<string>tmp_53ae7439</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae737a.jpg</string>
		<key>name</key>
		<string>暗牧</string>
		<key>uid</key>
		<string>tmp_53ae737a</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7399.jpg</string>
		<key>name</key>
		<string>冰女</string>
		<key>uid</key>
		<string>tmp_53ae7399</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>修补匠</string>
		<key>uid</key>
		<string>22</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>骨法</string>
		<key>uid</key>
		<string>21</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>巫妖</string>
		<key>uid</key>
		<string>20</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae745c.jpg</string>
		<key>name</key>
		<string>火女</string>
		<key>uid</key>
		<string>tmp_53ae745c</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae76df.jpg</string>
		<key>name</key>
		<string>宙斯</string>
		<key>uid</key>
		<string>tmp_53ae76df</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7654.jpg</string>
		<key>name</key>
		<string>痛苦女王</string>
		<key>uid</key>
		<string>tmp_53ae7654</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7620.jpg</string>
		<key>name</key>
		<string>死骑</string>
		<key>uid</key>
		<string>tmp_53ae7620</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>小小</string>
		<key>uid</key>
		<string>14</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7881.jpg</string>
		<key>name</key>
		<string>斧王</string>
		<key>uid</key>
		<string>tmp_53ae7881</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae793b.jpg</string>
		<key>name</key>
		<string>剑圣</string>
		<key>uid</key>
		<string>tmp_53ae793b</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>死灵法师</string>
		<key>uid</key>
		<string>11</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_5334e940.jpg</string>
		<key>name</key>
		<string>小娜迦</string>
		<key>uid</key>
		<string>tmp_5334e940</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7a60.jpg</string>
		<key>name</key>
		<string>拍拍熊</string>
		<key>uid</key>
		<string>tmp_53ae7a60</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>骷髅王</string>
		<key>uid</key>
		<string>8</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7b2e.jpg</string>
		<key>name</key>
		<string>神牛</string>
		<key>uid</key>
		<string>tmp_53ae7b2e</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7bd8.jpg</string>
		<key>name</key>
		<string>电魂</string>
		<key>uid</key>
		<string>tmp_53ae7bd8</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7c69.jpg</string>
		<key>name</key>
		<string>大鱼人</string>
		<key>uid</key>
		<string>tmp_53ae7c69</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae8042.jpg</string>
		<key>name</key>
		<string>蓝胖</string>
		<key>uid</key>
		<string>tmp_53ae8042</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7fdd.jpg</string>
		<key>name</key>
		<string>潮汐</string>
		<key>uid</key>
		<string>tmp_53ae7fdd</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_541d45ea.jpg</string>
		<key>name</key>
		<string>全能骑士</string>
		<key>uid</key>
		<string>tmp_541d45ea</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmp_53ae7d0a.jpg</string>
		<key>name</key>
		<string>船长</string>
		<key>uid</key>
		<string>tmp_53ae7d0a</string>
	</dict>
</array>
</plist>
